{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">

          <div class="row featurette">
            <div class="col-md-10">

				<h2><strong><center>RESET PASSWORD!</center></strong></h2>
				<br>
				<h3>Forgotten your password? Keep calm, we got you covered</h3> 
				<h3>Enter your email address below, and we'll email instructions for setting a new one.</h3>
				<br>

				<form method="post">
					{%csrf_token%} 
					{%if form.email.errors%}
						<p style="color: red">{{form.email.errors}}</p>
					{%endif%}

					{{form.as_p}}
					<br>
					<button type="submit" class="btn btn-block btn-default btn-lg">Reset Password</button>
				</form>
				<br>
				<p>know your password? great! <a href="{%url 'login'%} ">Just Sign-in</a></p>



{%endblock%}