{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">

          <div class="row featurette">
            <div class="col-md-10">
				
				<h2 style="color: red"><strong><center>PASSWORD RESET CONFIRMATION!</center></strong></h2>
				<br>

				{%if validlink%}
				<h3 style="color: blue">You are almost done!.All you need to do is to enter a new password below and you are good to go.</h3>
				<br><br>
				{%if form.errors%}
					<ul style="color: red">{{form.errors}}</ul>
				{%endif%}
				<form method="post">
					{%csrf_token%} 
					<table>
						<tr>
							<td>{{form.new_password1.errors}} 
								<label for="id_new_password1">New Password: </label></td>
							<td>{{form.new_password1}}</td>
						</tr>
						<tr>
							<td>{{form.new_password2.errors}} 
								<label for="id_new_password2">Confirm Password: </label></td>
							<td>{{form.new_password2}}</td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="Change My Password"></td>
						</tr>
					</table>
				</form>
				{%else%}
					<h3 style="color: red">Password Reset failed</h3>
					<p style="color: blue">The password reset link is invalid, possibly because it has already been used or expired. please do request a new one</p>
				{%endif%}

			</div>
		</div>

</div>
	

{%endblock%}