{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">

          <div class="row featurette">
            <div class="col-md-10">

				<h2 style="color: blue"><strong><center>PASSWORD CHANGE!</center></strong></h2>
				<br>
				<h3 style="color: red"> for your security and data protection, please enter your old password, and then enter your new password twice so we can verify you typed it in correctly.</h3>
				<br><br>
				{%if form.errors%}
					<ul style="color: red">{{form.errors}}</ul>
				{%endif%}
				<form method="post">{%csrf_token%} 
					{{form.as_p}} 
					<button class="btn btn-lg btn-primary btn-block">Change My Password</button>
				</form>

			</div>
		</div>

</div>
	

{%endblock%}