{%extends 'base.html'%}

{%load crispy_forms_tags%}

{%block head_title%}MaritimeConnect | new user signup | globe.com{%endblock%}
{%block content%}

<div class="container-fluid">

          <div class="row featurette">
            <div class="col-md-10">

				<!-- Default form register -->
			          <form class="text-center" method="post"> {%csrf_token%}

			            <p class="h4 mb-4">User Registration!</p>

			            {{form.name|as_crispy_field}}
			            {{form.email|as_crispy_field}}

			            <div class="form-row mb-4">
			              <div class="col">
			                <!-- First name -->
			                {{form.country|as_crispy_field}}
			              </div>
			              <div class="col">
			                <!-- Last name -->
			                {{form.gender|as_crispy_field}}
			              </div>
			            </div>		            

			            <!-- Password -->
			            {{form.password|as_crispy_field}}

			            {{form.password2|as_crispy_field}}

			       
			            <div class="custom-control custom-checkbox">
			              <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter" required>
			              <label class="custom-control-label" for="defaultRegisterFormNewsletter">you agree to our
			              <a href="" target="_blank">terms of service</label>
			            </div>

			            <!-- Sign up button -->
			            <button class="btn btn-info my-4 btn-block" type="submit">SIGN ME UP NOW</button>

			            <!-- Social register -->
			            <p>or sign up with:</p>

			                <a href="#" class="mx-1" role="button"><i class="fab fa-facebook-f"></i></a>
			                <a href="#" class="mx-1" role="button"><i class="fab fa-twitter"></i></a>
			                <a href="#" class="mx-1" role="button"><i class="fab fa-linkedin-in"></i></a>
			                <a href="#" class="mx-1" role="button"><i class="fab fa-github"></i></a>

			            <hr>
			          </form>
			          <br><p style="color: red">Already have an account, <a href="{%url 'login'%}">go here</a> to sign in</p><br>
          <!-- Default form register -->
</div></div></div>

{%endblock%}