<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-md navbar-dark default-color lighten-1">
  <a class="navbar-brand" href="{%url 'index'%}">Django-Abstract-StartPoint 1.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/ibrahim-oduola/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://github.com/Ibra-Portfolio" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
    {%if user.is_authenticated%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="{%url 'logout'%}">Sign-Out</a>
        </div>
      </li>
    {%else%}
    <button type="button" class="btn btn-outline-warning waves-effect btn-sm">Sign Up</button>
    <a href="{%url 'login'%}" class="btn btn-outline-info waves-effect btn-sm">Sign In</a>
    {%endif%}
    </ul>
  </div>
</nav>
<!--/.Navbar -->