<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Django-Abstract-StartPoint by Ibrahim</title>
  {% include 'base/scripts.html' %}
</head>
<body>

  <!-- Start your project here-->  

{%include 'base/navbar.html'%}

<br><br>
<div class="container-fluid row">
	<div class="col-4">
		<center><h5>ABOUT DJANGO-ABSTRACT-STARTPOINT</h5></center>
	</div>
	
	<div class="col-8">
    {%block content%}
    {%endblock%}
	</div>
</div>



  <!-- End your project here-->


  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  
</body>
</html>
