<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Django-Abstract-StartPoint by Ibrahim</title>
  {% include 'base/scripts.html' %}
</head>
<body>

  <!-- Start your project here-->  

{%include 'base/navbar.html'%}

<br><br>
<div class="container-fluid row">
	<div class="col-4">
		<center><h5 style="color: purple">ABOUT DJANGO-ABSTRACT-STARTPOINT</h5></center>
    <p>Django-Abstract-StartPoint is an ideal startpoint for your new django project</p>
    <ul>It comes with with a customizable AbstractBaseUser with email as a primary field</ul><br>
    <ul>It has all necassary settings setup and ready to go</ul><br>
    <ul>It comes wimple and editable 'base.html' and 'index.html'</ul><br>
    <ul>It comes with all basic functions and templates for all django basic user account which can be edited or easily removed, including;
      <li>1) login and logout</li>
      <li>2) password change done, password change form, password reset complete, password reset confirm, password reset done, password reset form</li>
    </ul><br>
    <ul>It can be easily integrated to django projects</ul>

	</div>
	
	<div class="col-8">
    {%block content%}
    {%endblock%}
	</div>
</div>



  <!-- End your project here-->


  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  
</body>
</html>
